{% extends "profiles/base.html" %}
{% load static %}


{% block title %} {{ title }} {% endblock %}

{% block style %}
    {% if type == 'Blog' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/create_blog.css' %}"/>
    {% elif type == 'Bio' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/create.css' %}" %}/> 
    {% endif %}
{% endblock %}


{% block body %}




<div class="form-container">
    <h1> {{ heading }} </h1>

    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-inputs">
            {{form.as_ul}}
        </div>
        

        <input class="submit" type="submit" name="Submit">

    </form>
</div>

{% endblock %}