{% extends "profiles/base.html" %}
{% load static %}


{% block title %} Delete Record {% endblock %}
{% block style %} <link rel="stylesheet" type="text/css" href="{% static 'styles/delete_style.css' %}"/> {% endblock %}


{% block body %}

<p> Are you sure you want to delete <span>"{{record.user}}"</span>? </p>

<form method="POST" action="">
    {% csrf_token %}

    <a href="{% url 'home' %}"> Cancel </a>

    <input class="submit" type="submit" name="Confirm" value="Confirm">

</form>

{% endblock %}