{% extends "profiles/base.html" %}

{% block title %}Welcome!{% endblock %}


{% block body %}

    <button> <a href="{% url 'logout' %}" > Logout </a> </button>


    <h1> Welcome {{ user.username }} </h1>

    <button> <a href="{% url 'create' %}" > Create New </a> </button>

    {% for message in messages %}
      <p class="messages"> {{message}} </p>
    {% endfor %}

    {% for object in users %}

        <h1> {{ object.name }}</h1>
        <h2> {{ object.created }}</h2>

        <button> <a href="{% url 'update' object.id %}" > Update </a>  </button>
        <button> <a href="{% url 'delete' object.id %}" > Delete </a>  </button>

    {% endfor %}

{% endblock %}