{% extends "profiles/base.html" %}
{% load static %}

{% block title %}Welcome!{% endblock %}
{% block style %} <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}"/> {% endblock %}


{% block body %}

    <a class="logout" href="{% url 'logout' %}" >  Logout </a> </button>


    <h1 class="username"> Welcome <span class="user">{{ user.username }} </span></h1>

    <button class="create_text"> <a href="{% url 'create' %}" > Create New </a> </button>

    {% for message in messages %}
      <p class="messages"> {{message}} </p>
    {% endfor %}

    {% for object in users %}
      <div class="record">
        <h1> {{ object.name }}</h1>
        <h2> {{ object.created }}</h2>
        <h2> {{ object.uid }}</h2>
        
        <div class="methods">
          <button> <a href="{% url 'update' object.id %}" > Update </a>  </button>
          <button> <a href="{% url 'delete' object.id %}" > Delete </a>  </button>
        </div>
      </div>
    {% endfor %}

{% endblock %}