{% extends "profiles/base.html" %}

{% block title %}Welcome!{% endblock %}


{% block body %}

    <button> <a href="{% url 'logout' %}" > Logout </a> </button>


    <h1> Welcome {{ user.username }} </h1>

    <button> <a href="{% url 'create' %}" > Create New </a> </button>

    {% for object in users %}

        <h1> {{ object.username }} </h1>
        <button> <a href="{% url 'update' object.username %}" > Update </a>  </button>
        <button> <a href="{% url 'delete' object.username %}" > Delete </a>  </button>

    {% endfor %}

{% endblock %}