body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #7abecc;
}

.home-button,
.bio,
.blogs{
    background-color: grey; /* Green */
}

.logout {
    background-color: #33ccff; /* Green */
}

.home-button:focus,
.bio:focus,
.blogs:focus {
    background-color: green; /* Green */
}

.logout-container a{
    text-decoration: none;
    color: lightcyan;
    margin: 30px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius:25px;
    width: 3%;
}

.logout-container{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

