h1 {
    margin: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    border-color: #f7ba5b;
    border-style: solid;
    width: 26%;
    border-radius: 5px 5px 0px 0px;
    background: #f7ba5b;
    text-align: center;
    color: whitesmoke;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 10px;
}

input {
    border-radius: 10px;
    text-align: center;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input:not(.submit) {
    margin-right: 205px;
}

.submit {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

textarea {
    border-radius: 5px;
    margin-right: 10px;
}

form {
    width: 25%;
    background: #74cfbf;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
   
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 5px 5px;
    
}

.form-container{
    margin-top: 200px;
}