p,
body,
form,
input {
    margin: 2%;
    text-align: center;
}

p {
    font-size: 20px;
    margin-top: 12%;
}

form{
    margin-left: 4%;
}
span  {
    font-weight: bold;
}

.submit {
    margin-left: 7%;
    border-radius: 10px;
    width: 7%;
}