p,
form,
input {
    margin: 35px;
    text-align: center;
}

p {
    font-size: 20px;
    margin-top: 140px;
}

form{
    margin-left: 80px;
}
span  {
    font-weight: bold;
}

.submit {
    margin-left: 120px;
    border-radius: 10px;
    width: 7%;
}